*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:Verdana, Geneva, Tahoma,sans-serif;
}

:root {
    --bg-color: #DBF1E5;
    --second-bg-color:#DBF1E5;
    --text-color: #404040;
    --main-color: #FFB7C5;

}

html{
    font: size: 60%;
    overflow: hidden;

}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(219, 241, 229, 1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 3rem;
    color:
}